@import "../../node_modules/bootstrap/scss/bootstrap.scss"
$fa-font-path:"../../node_modules/@fortawesome/fontawesome-free/webfonts"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss"


.banner

    position: absolute
    z-index: -1
    filter: brightness(30%)
    -webkit-filter: brightness(30%)
nav

    display: flex
    lex-direction: row
    align-items: center
    margin-left: 150px
.ul1

    list-style: none
    display: flex
    flex-direction: row
    margin: 10px
    border-top: 2px white solid
    border-bottom: 2px white solid
.li1

    margin: 10px
a
    color: white

    &:hover

        background-color: red
        padding: 13px
.logo

    flex-direction: row
        
.ul2

    list-style: none
    display: flex
    flex-direction: row
    margin: 10px
    border-top: 3px white solid
    border-bottom: 3px white solid
.li2

    margin: 10px
a

    color: white

    &:hover

        background-color: red
        padding: 13px

.carousel-inner

    padding: 200px
    text-align: center

.carouse-item

h1

        font-size: 10px
    



h1
    font-family: 'Caveat',cursive



.sectionn 
    background-image: url("../../public/images/main_bg.jpg")
    background-repeat: none
    position: relative
    
.bottom
    position: absolute
    right: 0px
    bottom: 0px

.left
    position: absolute
    top: 0px
    left: 0px
    
    
.right
    position: absolute
    top: 0px
    right: 0px
      

.hello
    position: absolute
    left: 0px
    bottom: 0px
     

.team
    background-image: url("../../public/images/team_background.jpg")
    

    
 
